<div class="container-fluid" ng-controller="Tomcat.SessionsController">

  <div class="row">
    <div class="pull-right">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="form-group section-filter">
            <input type="text" class="input-sm form-control search-query" placeholder="Filter..." ng-model="gridOptions.filterOptions.filterText">
            <i class="icon-remove clickable" title="Clear filter" ng-click="gridOptions.filterOptions.filterText = ''"></i>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>

</div>
